.contact-us-bg {
    background-image: url(https://www.linnseed.com/front_assets/HomeResource/img/Temp/bg-cotton.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .contact-bg{
    background-color: aqua; 
    background-image: url(https://www.linnseed.com/front_assets/HomeResource/img/Temp/bg-cotton.jpg);

} */